<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="Angular Shield Logo" class="logo">
      <h3>I'm in the AppComponent!</h3>
      <hr>
      <label>Type your User Name here —</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="username"
      />
      <p class="user-name">{{ username }}
        <button
          class="btn btn-primary user-button"
          [disabled]="!username"
          (click)="onCreateUser($event)">Add User</button></p>
        <p [innerText]="userCreationStatus"></p>
      <app-servers></app-servers>
    </div>
  </div>
</div>

